body {
    margin: 0;
    background-color: #cccccc;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: 'Bebas Neue', cursive;
}

h2 {
    margin: 0;
    text-align: center;
    font-size: 60px;
    padding: 20px 0;
}

* {
    box-sizing: border-box;
    transition: all 0.1s linear;
    color: $brown1;
}